@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color--bg--black: #1A1A1A;
  --color--black: #000000;
  --color--white: #FFFFFF;
  --color--green: #42B883;
  --color--red: #b82c2c;
}

html {
  font-size: 62.5%;
  background-color: var(--color--bg--black);
  font-family: "Montserrat", sans-serif;
}